<div class="card">
    <div class="card-header">
        {{ contributor.github }}
    </div>
    <div class="card-body">
        <img src="{{ contributor.avatarUrl }}" class="rounded float-left mr-5" style="width: 100px;" />

        <strong>
            {{ contributor.teamMember.name ?? contributor.github }}
        </strong>

        <ul class="list-inline">
            {% if contributor.teamMember and contributor.teamMember.twitter %}
                <li class="list-inline-item" target="_blank"><a href="https://twitter.com/{{ contributor.teamMember.twitter }}/" target="_blank"><i class="fab fa-twitter mr-2"></i></a></li>
            {% endif %}

            {% if contributor.teamMember and contributor.teamMember.website %}
                <li class="list-inline-item" target="_blank"><a href="{{ contributor.teamMember.website }}" target="_blank"><i class="fas fa-link mr-2"></i></a></li>
            {% endif %}

            {% if contributor.github %}
                <li class="list-inline-item" target="_blank"><a href="https://github.com/{{ contributor.github }}/" target="_blank"><i class="fab fa-github mr-2"></i></a></li>
            {% endif %}
        </ul>

        {{ contributor.numCommits }} commits <span class="text-success">{{ contributor.numAdditions }} ++</span> <span class="text-danger">{{ contributor.numDeletions }} --</span>
    </div>
</div>

<h2 class="mt-4">Projects Contributed To</h2>

{% include "projects-short-list.html.twig" with {projects:contributor.projects} %}
