<h{{ node.level }} class="section-header {{ node.classesString }}">
    <a href="#{{ node.id }}">
        {{ renderNode(node.value) }}
        <i class="fas fa-link"></i>
    </a>
</h{{ node.level }}>
