{% extends 'layouts/default.html.twig' %}

{% set contentValue %}
    {% block content '' %}
{% endset %}

{% block head_meta %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site.url }}{{ page.url }}"
        },
        "headline": "{{ page.title }}",
        "image": [
            "{{ site.url }}/images/og.png"
        ],
        "datePublished": "{{ page.date|date('c') }}",
        "dateModified": "{{ page.date|date('c') }}",
        "author": {
            "@type": "Person",
            "name": "{{ page.authorName ?? 'Doctrine' }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Doctrine",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.url }}/images/og.png"
            }
        },
        "description": "{{ contentValue|raw|striptags|trim[:100] }}"
    }
    </script>
{% endblock %}

{% block content_wrapper %}
    <article>
        <header>
            <h2>{{ blogPost.title }}</h2>
        </header>

        <p class="lead">
            Posted on <date>{{ blogPost.date|date('F j, Y') }}</date>
            {% if blogPost.authorName %}
                by
                {% if blogPost.authorEmail %}
                    <a href="mailto:{{ blogPost.authorEmail }}">{{ blogPost.authorName }}</a>
                {% else %}
                    {{ blogPost.authorName }}
                {% endif %}
            {% endif %}
        </p>

        <div class="row">
            <div class="col">
                {% include "carbonad-standard.html.twig" %}
            </div>
        </div>

        <hr />

        <div>
            {{ contentValue }}
        </div>
    </article>
{% endblock %}
