{% extends 'layouts/layout.html.twig' %}

{%- block title -%}
    {% if project is defined and project %}
        {{ page.title }} - {{ site.title }} {{ project.name }}{{ project.name != project.shortName ? ' (' ~ project.shortName ~ ')' : '' }}
    {% endif %}
{%- endblock -%}
{% block meta_description %}{% if project is defined and project %}{{ site.title }} {{ project.name }} Documentation: {{ page.title }} {% endif %}{% endblock %}

{% block meta_keywords %}
    {% if project is defined and project %}
        {% set pageTitleKeywords = page.title|lower|split(' ') %}
        {{ project.keywords|merge(['documentation'])|merge(pageTitleKeywords)|join(',') }}
    {% endif %}
{% endblock %}

{% block head_meta %}
    {% if project is defined and project %}
        <link rel="canonical" href="{{ site.url }}{{ get_url_version(project.currentVersion, page.url, page.docsVersion) }}" />
    {% endif %}
{% endblock %}

{% block structured_data %}
    {% if project is defined and project %}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Course",
            "name": "Doctrine {{ project.name }}",
            "description": "{{ page.title }}",
            "provider": {
                "@type": "Organization",
                "name": "Doctrine",
                "sameAs": "{{ site.url }}"
            }
        }
        </script>
    {% endif %}
{% endblock %}

{% block container %}
    <div class="container-wrapper container">
        <div class="row row-offcanvas row-offcanvas-right">
            {% if page.docsPage %}
                <nav class="col-md-3 d-sm-block bg-light sidebar sidebar-offcanvas" id="sidebar">
                    <div class="sidebar-sticky">
                        {% include "carbonad-standard.html.twig" %}

                        {% block sidebar '' %}
                    </div>
                </nav>
            {% endif %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
                <div class="row">
                    {# Documentation TOC #}
                    {% if page.docsIndex is defined and page.docsIndex and project is defined %}
                        {% include 'breadcrumbs.html.twig' with {breadcrumbs:[
                            {
                                label: 'Projects',
                                url: url('projects')
                            },
                            {
                                label: project.shortName,
                                url: url('project', {slug:project.slug})
                            },
                            {
                                label: 'Documentation'
                            }
                        ]} %}
                    {% endif %}

                    {# Documentation Page #}
                    {% if page.docsPage is defined and page.docsPage == true and page.docsIndex == false and project is defined %}
                        {% include 'breadcrumbs.html.twig' with {breadcrumbs:[
                            {
                                label: 'Projects',
                                url: url('projects')
                            },
                            {
                                label: project.shortName,
                                url: url('project', {slug:project.slug})
                            },
                            {
                                label: 'Documentation',
                                url: url('project_docs', {
                                    docsSlug: project.docsSlug,
                                    language: 'en',
                                    docsVersion: page.docsVersion
                                })
                            },
                            {
                                label: page.title
                            }
                        ]} %}
                    {% endif %}
                </div>

                {% include "project-status-alert.html.twig" with {
                    project:project,
                    version:project.getVersion(page.docsVersion)
                } %}

                <div class="row">
                    <div class="col-12">
                        {% block content_wrapper %}
                            <button type="button" class="btn btn-primary btn-sm float-right toc-toggle" data-toggle="offcanvas" id="toc-toggle">Table of Contents</button>

                            {% if project is defined and page.docsVersion is defined %}
                                {% set currentVersion = project.getVersion(page.docsVersion) %}

                                <div class="dropdown show d-inline-block">
                                    <a class="project-version-switcher btn btn-secondary btn-sm dropdown-toggle" href="{{ page.url }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ currentVersion.displayName }}
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        {% if project.maintainedVersions %}
                                            <h6 class="dropdown-header">Maintained</h6>

                                            {% for version in project.maintainedVersions %}
                                                {% if version.hasDocs %}
                                                    {% set versionUrl = get_url_version(version, page.url, page.docsVersion) %}

                                                    <a class="project-version-switcher dropdown-item{% if version.slug == page.docsVersion %} active{% endif %}" href="{{ versionUrl }}">
                                                        {{ version.displayName }}

                                                        {% if version.current %}
                                                            (current)
                                                        {% endif %}

                                                        {% if version.upcoming %}
                                                            (upcoming)
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if project.unmaintainedVersions %}
                                            <h6 class="dropdown-header">Unmaintained</h6>

                                            {% for version in project.unmaintainedVersions %}
                                                {% if version.hasDocs %}
                                                    {% set versionUrl = get_url_version(version, page.url, page.docsVersion) %}

                                                    <a class="dropdown-item{% if version.slug == page.docsVersion %} active{% endif %}" href="{{ versionUrl }}">{{ version.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            {% block content '' %}
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
