<!DOCTYPE html>
<html>
    <head>
        <title>
            {%- block title -%}
                {%- set pageTitle -%}
                    {%- block pageTitle page.title ? page.title : '' -%}
                {%- endset -%}

                {{ (pageTitle ? pageTitle ~ ' - ' : '' ) ~ site.title ~ ': ' ~ site.subtitle }}
            {%- endblock -%}
        </title>

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{% block meta_description %}{{ site.description }}{% endblock %}">

        <meta name="keywords" content="{% block meta_keywords %}{{ site.keywords|join(',') }}{% endblock %}">

        {% if site.env == 'prod' %}
            <meta name="robots" content="index, follow">
        {% else %}
            <meta name="robots" content="noindex">
        {% endif %}

        {% if page.canonical is defined and page.canonical %}
            <link rel="canonical" href="{{ page.canonical }}">
        {% endif %}

        {% block head_meta '' %}

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ get_webpack_asset_url('/css/index.css', site.url) }}"
            {% if site.env == 'prod' %}
            integrity="{{ get_webpack_asset_integrity('/css/index.css') }}"
            {% endif %}
            crossorigin="anonymous"
        />

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/images/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.url }}/images/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/images/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/images/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/images/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="Doctrine"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ site.url }}/images/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="{{ site.url }}/images/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="{{ site.url }}/images/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="{{ site.url }}/images/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="{{ site.url }}/images/mstile-310x310.png" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@doctrineproject" />
        <meta name="twitter:creator" content="@doctrineproject" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('meta_description') }}" />
        <meta property="og:image" content="{{ site.url }}/images/og.png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="1200" />

        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "{{ site.url }}",
            "logo": "{{ site.url }}/logos/doctrine-logo.svg"
        }
        </script>

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "{{ site.url }}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ site.url }}?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
        </script>

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Doctrine",
            "url": "{{ site.url }}",
            "sameAs": [
                "https://twitter.com/doctrineproject"
            ]
        }
        </script>

        {% block structured_data '' %}

        {% block head_styles '' %}

        {% block head_scripts '' %}
    </head>
    <body>
        {% block navbar %}
            {% set menuSlug = page.menuSlug is defined and page.menuSlug ? page.menuSlug : '' %}

            <nav class="doctrine-navbar navbar navbar-expand-lg navbar-dark sticky-top bg-dark flex-md-nowrap">
                <a class="navbar-brand text-hide" href="{{ path('homepage') }}"><img src="{{ get_asset_url('/logos/doctrine-logo.svg', site.url) }}" />{{ site.title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown{% if menuSlug == 'projects' %} active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="{{ path('projects') }}" id="navbarProjectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarProjectsDropdown">
                                {% for project in get_menu_projects() %}
                                    <a class="dropdown-item notranslate" href="{{ path('project', {slug:project.slug}) }}">{{ project.shortName }}</a>
                                {% endfor %}
                                <a class="dropdown-item bg-secondary text-white font-weight-bold" href="{{ path('projects') }}">View All</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown{% if menuSlug == 'development' %} active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="{{ path('contribute') }}" id="navbarDevelopmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Development</a>

                            <div class="dropdown-menu" aria-labelledby="navbarContributeDropdown">
                                <a class="dropdown-item" href="{{ path('community') }}">Community</a>
                                <a class="dropdown-item" href="{{ path('contribute') }}">Contributor Workflow</a>
                                <a class="dropdown-item" href="{{ path('contribute_maintainer') }}">Maintainer Workflow</a>
                                <a class="dropdown-item" href="{{ path('contribute_website') }}">Contribute to Website</a>
                                <a class="dropdown-item" href="{{ path('team_maintainers') }}">Maintainers</a>
                                <a class="dropdown-item" href="{{ path('team_contributors') }}">Contributors</a>
                                <a class="dropdown-item" href="{{ path('policies') }}">Policies</a>
                                <a class="dropdown-item" href="https://github.com/doctrine" target="_blank" rel="noopener noreferrer">GitHub</a>
                                <a class="dropdown-item" href="{{ path('styleguide') }}">Styleguide</a>
                            </div>
                        </li>
                        <li class="nav-item{% if menuSlug == 'events' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('events') }}">Events</a>
                        </li>

                        <li class="nav-item{% if menuSlug == 'consulting' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('consulting') }}">Consulting</a>
                        </li>

                        <li class="nav-item{% if menuSlug == 'partners' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('partners') }}">Partners</a>
                        </li>
                        <li class="nav-item{% if menuSlug == 'blog' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                        </li>
                    </ul>

                    <div class="layout-edit-button d-inline-block mr-2">
                        {% if page.docsSlug is defined and page.docsSlug and project is defined and projectVersion is defined %}
                            <a href="https://github.com/doctrine/{{ project.docsRepositoryName }}/edit/{{ projectVersion.branchName }}{{ project.docsPath }}{{ page.docsSourcePath }}" class="btn btn-light" target="_blank" rel="noopener noreferrer">Edit</a>
                        {% else %}
                            <a href="https://github.com/doctrine/doctrine-website/edit/master/source{{ page.sourcePath }}" class="btn btn-light" target="_blank" rel="noopener noreferrer">Edit</a>
                        {% endif %}
                    </div>

                    <div class="google-translate-dropdown dropdown show d-inline-block mr-2">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="translateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Translate
                        </a>

                        <div class="dropdown-menu" aria-labelledby="translateDropdown">
                            <div class="dropdown-item" id="google_translate_element">Loading...</div>
                        </div>
                    </div>

                    <div id="search-box">
                        <!-- SearchBox widget will appear here -->
                    </div>
                </div>
            </nav>

            <div class="search-results rounded">
                <div id="hits">
                    <!-- Hits widget will appear here -->
                </div>

                <a href="https://www.algolia.com" target="_blank" rel="noopener noreferrer"><img src="{{ site.url }}/images/search-by-algolia.png" class="float-right" style="width: 150px;" /></a>
            </div>
        {% endblock %}

        {% block container %}
            {% block content_wrapper %}
                {% block content '' %}
            {% endblock %}
        {% endblock %}

        <button id="back-to-top" title="Go to top">Top</button>

        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{{ path('projects') }}">Projects</a></li>
                        <li class="list-inline-item"><a href="{{ path('partners') }}">Partners</a></li>
                        <li class="list-inline-item"><a href="{{ path('sponsorship') }}">Sponsorship</a></li>
                        <li class="list-inline-item"><a href="{{ path('community') }}">Community</a></li>
                        <li class="list-inline-item"><a href="{{ path('blog') }}">Blog</a></li>
                        <li class="list-inline-item"><a href="{{ path('events') }}">Events</a></li>
                        <li class="list-inline-item"><a href="{{ path('consulting') }}">Consulting</a></li>
                    </ul>
                </div>
            </footer>
        {% endblock %}

        <script id="instantsearch-template" type="text/template">
            {% include "search-results.html.twig" %}
        </script>

        <script
            src="{{ get_webpack_asset_url('/js/bundle.js', site.url) }}"
            {% if site.env == 'prod' %}
                integrity="{{ get_webpack_asset_integrity('/js/bundle.js') }}"
            {% endif %}
            crossorigin="anonymous">
        </script>

        {% set project = project is defined ? project : null %}
        {% set projectVersion = projectVersion is defined ? projectVersion : null %}

        <script type="text/javascript">
            var projectSlug = '{{ project and project.slug ? project.slug : null }}';
            var versionSlug = '{{ projectVersion and projectVersion.slug ? projectVersion.slug : "latest" }}';

            var searchBoxSettings = {
                container: '#search-box',
                placeholder: '{{ get_search_box_placeholder(project, projectVersion) }}'
            };

            function googleAnalyticsEvent(eventCategory, eventAction, eventLabel, eventValue, fieldsObject) {
                {% if site.googleAnalyticsTrackingId %}
                ga('send', 'event', eventCategory, eventAction, eventLabel, eventValue, fieldsObject);
                {% else %}
                console.log(eventCategory, eventAction, eventLabel, eventValue, fieldsObject);
                {% endif %}
            }
        </script>

        {% block scripts '' %}

        {% if site.googleAnalyticsTrackingId %}
            <script type="text/javascript">
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ site.googleAnalyticsTrackingId }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}

        {% block scripts_after '' %}
    </body>
</html>
