<figure {% if class %}class="{{ class }}"{% endif %}>
    <img src="{{ url }}" {% if alt %}alt="{{ alt }}"{% endif %} {% if title %}title="{{ title }}"{% endif %}>
    {% if caption or sourceUrl %}
        <figcaption>
            {{ caption|raw }}

            {% if sourceUrl %}
                {% spaceless %}
                    <p>
                        <a class="source-ref" href="{{ sourceUrl }}">
                            {% if sourceTitle %}
                                {{ sourceTitle }}
                            {% else %}
                                Source
                            {% endif %}
                        </a>
                    </p>
                {% endspaceless %}
            {% endif %}
        </figcaption>
    {% endif %}
</figure>
