{% block title %}{{ event.name }}{% endblock %}

{% block meta_description event.description %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('events') }}">Events</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
        </ol>
    </nav>

    {% if event.dates.over %}
        {% set alertMessage %}
            This event has ended. Watch for additional <a href="{{ path('events') }}">events</a> in the future.
        {% endset %}

        {% include "alert.html.twig" with {alertMessage:alertMessage} %}
    {% endif %}

    <p class="lead">{{ event.description }}</p>

    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <h1 class="card-title pricing-card-title">
                        {% if event.free %}
                            FREE!
                        {% else %}
                            ${{ event.price|number_format }}
                        {% endif %}
                    </h1>

                    <p class="card-text">This {{ event.dates.over ? 'was' : 'is' }} a {{ event.dates.duration }} event that {{ event.dates.over ? 'started' : 'starts' }} on {{ event.startDate|date('l, F jS Y') }} at {{ event.startDate|date('h:i A T') }}{% if event.dates.numDays > 1 %} and ends on {{ event.endDate|date('l, F jS Y') }} at {{ event.endDate|date('h:i A T') }}{% endif %}.</p>

                    {% if event.registrationDates.now %}
                        {% if event.free %}
                            {% if event.joinUrl %}
                                <a href="{{ event.joinUrl }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Join Event</a>
                            {% else %}
                                <small class="text-muted">A join URL does not exist yet for this event yet. Check back when it gets closer to {{ event.startDate|date('l, F jS Y') }}.</small>
                            {% endif %}
                        {% else %}
                            <button
                                class="btn btn-primary"
                                id="checkout-button"
                                role="link"
                            >
                                Purchase Ticket
                            </button>
                        {% endif %}
                    {% elseif event.registrationDates.over %}
                        <small class="text-muted">Registration is over for this event.</small>
                    {% else %}
                        <small class="text-muted">Registration will open on {{ event.registrationDates.start|date('l, F jS Y') }}.</small>
                    {% endif %}

                    {% if event.cfp.dates.now %}
                        <a href="{{ path('event_cfp', {id:event.id, slug:event.slug}) }}" class="btn btn-primary">Submit a Talk</a>
                    {% endif %}
                </div>

                <div class="col-4 d-none d-lg-block">
                    {% include "carbonad-standard.html.twig" %}
                </div>
            </div>
        </div>

        {% if event.speakers|length %}
            <div class="card-footer text-muted">
                {% for speaker in event.speakers %}
                    <a href="{{ path('event', {id:event.id, slug:event.slug}) }}#{{ speaker.topicSlug }}" title="{{ speaker.name }}"><img src="{{ speaker.avatarUrl }}" width="50" alt="{{ speaker.name }}" /></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if event.conference %}
        <h1>Location</h1>

        <p class="lead">This event is hosted at <strong>{{ event.location.name }}</strong> which is located at <a href="https://www.google.com/maps?q={{ event.location.address.string }}" target="_blank" rel="noopener noreferrer">{{ event.location.address.string }}</a>.</p>

        <div class="mapouter mb-4"><div class="gmap_canvas"><iframe width="400" height="300" id="gmap_canvas" src="https://www.google.com/maps?q={{ event.location.address.string }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a></div><style>.mapouter{position:relative;text-align:right;height:300px;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:400px;}</style></div>
    {% endif %}

    {% if event.sponsors|length %}
        <h2>Sponsors</h2>

        <p class="lead">
            Thanks to our sponsors! This event would not be possible without their support. If you are interested in becoming a sponsor, please contact us at <a href="mailto:sponsorship@doctrine-project.org?subject={{ event.name }} Sponsorship">sponsorship@doctrine-project.org</a>
        </p>

        <div class="card-deck mb-3">
            {% for sponsor in event.sponsors %}
                <div class="card mb-4 box-shadow">
                    <a href="{{ sponsor.urlWithUtmParameters }}" target="_blank"><img class="card-img-top p-2" height="100" src="{{ sponsor.logo }}" alt="{{ sponsor.name }}"></a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if event.schedule|length %}
        <h2>Schedule</h2>

        <table class="table table-striped">
            {% for slot in event.schedule %}
                <tr>
                    <td><a href="{{ path('event', {id:event.id, slug:event.slug}) }}#{{ slot.speaker.topicSlug }}"><strong>{{ slot.speaker.topic }}</strong></a> <span class="text-muted"><small>{{ slot.speaker.name }}</small></span></td>
                    <td>{{ slot.startDate|date('h:i A T') }}</td>
                    <td>{{ slot.endDate|date('h:i A T') }}</td>
                    <td>{% if slot.speaker.hasYouTubeVideo() %}<a href="{{ slot.speaker.youTubeUrl }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube text-danger"></i>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if event.speakers|length %}
        <h2>Speakers</h2>

        {% for speaker in event.speakers %}
            <a name="{{ speaker.topicSlug }}">
            <div class="card mb-4">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="{{ speaker.avatarUrl }}" width="200" class="img-fluid" alt="{{ speaker.name }}" />
                    </div>
                    <div class="col">
                        <div class="card-block p-4">
                            <h4 class="card-title">
                                {{ speaker.topic }}

                                {% if speaker.hasYouTubeVideo() %}
                                    <a href="{{ speaker.youTubeUrl }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube text-danger"></i></a>
                                {% endif %}
                            </h4>
                            <h5 class="card-subtitle mb-2 text-muted">{{ speaker.name }}</h5>
                            <p class="card-text">{{ speaker.description|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div id="event-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="event-modal-label"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="event-modal-body"></div>
            </div>
        </div>
    </div>

    <div id="stripe-error-message"></div>

    <script type="text/javascript">
        {% if not event.free %}
            window.stripePublishableKey = '{{ get_stripe_publishable_key() }}';
        {% endif %}

        window.event = {
            name: '{{ event.name }}',
            sku: '{{ event.sku }}',
            url: '{{ url('event', {id:event.id, slug:event.slug}) }}'
        };
    </script>
{% endblock %}
