{% block title %}{{ project.name }} - {{ site.title }} - {{ site.subtitle }}{% endblock %}

{% block meta_description project.description %}

{% block meta_keywords project.keywords|join(',') %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.url }}/projects.html">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.shortName }}</li>
        </ol>
    </nav>

    {% if project.archived == true %}
        {% include "alert.html.twig" with {
            alertMessage: 'This project is no longer maintained and has been archived.'
        } %}
    {% elseif project.active == false %}
        {% include "alert.html.twig" with {
            alertMessage: 'This project is not being actively maintained. If you are interested in helping to maintain this project, take a look at the open issues on <a href="https://github.com/doctrine/' ~ project.repositoryName ~ ' /" target="_blank" rel="noopener noreferrer">GitHub</a> and submit pull requests.'
        } %}
    {% endif %}

    <h2>{{ project.name }}</h2>

    <p class="lead">{{ project.description }}</p>

    <a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ project.currentVersion.slug ?? 'latest' }}/index.html" class="btn btn-primary mr-2">Docs</a>

    <a href="{{ site.url }}/api/{{ project.slug }}/{{ project.currentVersion.slug ?? 'latest' }}/index.html" class="btn btn-primary mr-2">API Docs</a>

    <a href="https://github.com/doctrine/{{ project.repositoryName }}/" class="btn btn-primary" target="_blank" rel="noopener noreferrer">GitHub</a>

    <hr />

    {% if project.composerPackageName %}
        <h2>Install</h2>

        <div class="console"><pre><code class="console"><span class="noselect">$ </span>composer require {{ project.composerPackageName }}</code></pre></div>
    {% endif %}

    {% if project.versions|length > 1 %}
        <h2>Versions</h2>

        <div class="border-left border-right border-bottom rounded mb-4">
            <table class="table mb-0">
                <tbody>
                    {% for version in project.versions %}
                        <tr{% if not version.maintained %} style="opacity: .40;"{% endif %}>
                            <td{% if version.current %} class="font-weight-bold"{% endif %}>
                                {{ version.name }}

                                {% if version.current %}
                                    (current)
                                {% endif %}

                                {% if not version.maintained %}
                                    (unmaintained)
                                {% endif %}

                                {% if version.upcoming %}
                                    (upcoming)
                                {% endif %}
                            </td>
                            <td><a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ version.slug ?? 'latest' }}/index.html">Docs</a></td>
                            <td><a href="{{ site.url }}/api/{{ project.slug }}/{{ version.slug ?? 'latest' }}/index.html">API Docs</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if integrationProjects|length > 0 %}
        <h2>Integrations</h2>

        {% include "projects-short-list.html.twig" with {projects:integrationProjects} %}
    {% endif %}

    {% if maintainers|length > 0 %}
        <h2 class="mt-4">Maintainers</h2>

        {% include "maintainers-list.html.twig" with {contributors:maintainers} %}
    {% endif %}

    {% if contributors|length > 0 %}
        <h2 class="mt-4">Contributors</h2>

        {% include "contributors-list.html.twig" with {contributors:contributors} %}
    {% endif %}
{% endblock %}
