<ul class="list-group">
    {% for project in projects %}
        <li class="list-group-item">
            <h5 class="card-title">
                {% if project.isIntegration %}
                    <a href="{{ project.type.url }}" target="_blank"><img src="{{ project.type.icon }}" title="{{ project.type.name }}" width="30" class="mr-2" /></a>
                {% endif %}

                <a href="{{ site.url }}/projects/{{ project.slug }}.html">{{ project.name }}</a>
            </h5>

            <ul class="list-inline mt-2">
                <li class="list-inline-item">
                    <i class="fas fa-book"></i>
                    <a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ project.currentVersion.slug ?? 'latest' }}/index.html" class="mr-2">Docs</a>
                </li>

                <li class="list-inline-item">
                    <i class="fas fa-eye"></i>
                    <a href="{{ site.url }}/api/{{ project.slug }}/{{ project.currentVersion.slug ?? 'latest' }}/index.html" class="mr-2">API</a>
                </li>

                <li class="list-inline-item">
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/doctrine/{{ project.repositoryName }}" class="mr-2" target="_blank">GitHub</a>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
