{% block title %}{{ project.name }} - {{ site.title }} - {{ site.subtitle }}{% endblock %}

{% block meta_description project.description %}

{% block meta_keywords project.keywords|join(',') %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.url }}/projects.html">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.shortName }}</li>
        </ol>
    </nav>

    {% include "project-status-alert.html.twig" with {
        project:project,
        version:project.currentVersion
    } %}

    <h2>{{ project.name }}</h2>

    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <p class="lead">{{ project.description }}</p>
        </div>
        <div class="col-4 d-none d-lg-block">
            {% include "carbonad-standard.html.twig" %}
        </div>
    </div>

    <a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ project.currentVersion.slug ?? 'latest' }}/index.html" class="btn btn-primary mr-2">Docs</a>

    <a href="https://github.com/doctrine/{{ project.repositoryName }}/" class="btn btn-primary" target="_blank" rel="noopener noreferrer">GitHub</a>

    <hr />

    {% if project.composerPackageName %}
        <h2>Install</h2>

        <div class="console"><pre><code class="console"><span class="noselect">$ </span>composer require {{ project.composerPackageName }}</code></pre></div>
    {% endif %}

    <h2>Versions</h2>

    <div class="border-left border-right border-bottom rounded mb-4">
        <table class="table mb-0">
            <tbody>
                {% for version in project.versions %}
                    <tr{% if not version.maintained %} style="opacity: .40;"{% endif %}>
                        <td{% if version.current %} class="font-weight-bold"{% endif %}>
                            <a href="{{ path('project_version', {slug:project.slug, versionSlug:version.slug}) }}">
                                {{ version.displayName }}
                            </a>
                        </td>
                        <td><span class="badge badge-{{ version.stabilityColor }}">{{ version.stability }}</span></td>
                        <td>
                            {% if version.hasDocs %}
                                <a href="{{ site.url }}/projects/{{ project.docsSlug }}/en/{{ version.slug ?? 'latest' }}/index.html">Docs</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Statistics</h2>

    <div class="border-left border-right border-bottom rounded mb-4">
        <table class="table mb-0">
            <tbody>
                <tr>
                    <th>GitHub Stars</th>
                    <td>{{ project.projectStats.githubStars|number_format }}</td>
                </tr>
                <tr>
                    <th>GitHub Watchers</th>
                    <td>{{ project.projectStats.githubWatchers|number_format }}</td>
                </tr>
                <tr>
                    <th>GitHub Forks</th>
                    <td>{{ project.projectStats.githubForks|number_format }}</td>
                </tr>
                <tr>
                    <th>GitHub Open Issues</th>
                    <td>{{ project.projectStats.githubOpenIssues|number_format }}</td>
                </tr>
                <tr>
                    <th>Dependents</th>
                    <td>{{ project.projectStats.dependents|number_format }}</td>
                </tr>
                <tr>
                    <th>Suggesters</th>
                    <td>{{ project.projectStats.suggesters|number_format }}</td>
                </tr>
                <tr>
                    <th>Total Downloads</th>
                    <td>{{ project.projectStats.totalDownloads|number_format }}</td>
                </tr>
                <tr>
                    <th>Monthly Downloads</th>
                    <td>{{ project.projectStats.monthlyDownloads|number_format }}</td>
                </tr>
                <tr>
                    <th>Daily Downloads</th>
                    <td>{{ project.projectStats.dailyDownloads|number_format }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if integrationProjects|length > 0 %}
        <h2>Integrations</h2>

        {% include "projects-short-list.html.twig" with {projects:integrationProjects} %}
    {% endif %}

    {% if maintainers|length > 0 %}
        <h2 class="mt-4">Maintainers</h2>

        {% include "maintainers-list.html.twig" with {contributors:maintainers} %}
    {% endif %}

    {% if contributors|length > 0 %}
        <h2 class="mt-4">Contributors</h2>

        {% include "contributors-list.html.twig" with {contributors:contributors} %}
    {% endif %}
{% endblock %}
