{% verbatim %}
    <a href="{{url}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{{_highlightResult.projectName.value}}}: {{{_highlightResult.h1.value}}}</h5>
        </div>

        {{#h2}}
            <p class="mb-1">
                <i class="far fa-arrow-alt-circle-right text-primary"></i>

                {{{_highlightResult.h2.value}}}

                {{#h3}}
                    > {{{_highlightResult.h3.value}}}
                {{/h3}}

                {{#h4}}
                    > {{{_highlightResult.h4.value}}}
                {{/h4}}

                {{#h5}}
                    > {{{_highlightResult.h5.value}}}
                {{/h5}}
            </p>
        {{/h2}}

        {{#content}}
            <div class="content p-2 rounded" style="background-color: rgba(0,0,0,.125);">
                {{{_highlightResult.content.value}}}
            </div>
        {{/content}}
    </a>
{% endverbatim %}
